In [2]:
import pandas

In [ ]:
#open the csv file in preprocess/raw, seperate by comma
data = pandas.read_csv('raw\\exoplanet.eu_catalog_17-11-25_11_47_48.csv', sep=',')
#create a new column altered_name copy name, add prefix <s> and postfix </s>
data['altered_name'] = '<s>' + data['name'] + '</s>'
#save the altered_name column to a txt file in preprocess/processed called exoplanet_names.txt, one name per line, no index
data['altered_name'].to_csv('processed\\exoplanet_names.txt', index=False, header=False)
#print the first 5 rows of the dataframe
data.head(5)

,name,planet_status,mass,mass_error_min,mass_error_max,mass_sini,mass_sini_error_min,mass_sini_error_max,radius,radius_error_min,...,star_age,star_age_error_min,star_age_error_max,star_teff,star_teff_error_min,star_teff_error_max,star_detected_disc,star_magnetic_field,star_alternate_names,altered_name
0,109 Psc b,Confirmed,5.743,0.289,1.011,6.3830,0.078,0.078,1.152,NaN,...,6.90,0.60,0.60,5600.0,80.000,80.000,NaN,NaN,HD 10697,<s>109 Psc b</s>
1,112 Psc b,Confirmed,NaN,0.005,0.004,0.0330,0.005,0.004,NaN,NaN,...,NaN,NaN,NaN,5986.0,105.437,105.437,NaN,NaN,HD 12235,<s>112 Psc b</s>
2,112 Psc c,Confirmed,9.866,1.781,3.190,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,5986.0,105.437,105.437,NaN,NaN,HD 12235,<s>112 Psc c</s>
3,11 UMi b,Confirmed,NaN,1.100,1.100,11.0873,1.100,1.100,NaN,NaN,...,1.56,0.54,0.54,4340.0,70.000,70.000,NaN,NaN,NaN,<s>11 UMi b</s>
4,14 And Ab,Confirmed,NaN,0.230,0.230,4.6840,0.230,0.230,NaN,NaN,...,NaN,NaN,NaN,4813.0,20.000,20.000,NaN,NaN,NaN,<s>14 And Ab</s>